.FormDateCard {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  & input:first-child {
    margin-right: 5px;
  }
}

.noValid {
  font-size: 9px;
  line-height: 1px;
  color: #d36878;
  margin-left: 10px;
}
