.FormPlace {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  margin-left: 30%;
  .FormCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .FormData {
    display: flex;
    justify-content: space-between;
  }
  input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    &::placeholder {
      color: #c3c3c3;
    }
  }
  label {
    margin-bottom: 10px;
    p {
      margin-bottom: 5px;
    }
  }
}
